<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.runtimeverification.match.ui"
            name="RV Match Views">
      </category>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="com.runtimeverification.match.startup.StartupClass"/>
      <!--
      <startup class="com.runtimeverification.match.startup.KServerStartupClass"/>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="RV Match Commands"
            id="com.runtimeverification.match.commands.category">
      </category>
      <!--
      <command
            name="Use the K Server"
            categoryId="com.runtimeverification.match.commands.category"
            id="com.runtimeverification.match.commands.kServerCommand">
            <state
                  class="org.eclipse.ui.handlers.RegistryToggleState:true"
                  id="org.eclipse.ui.commands.toggleState">
            </state>
      </command>
      -->
       <command
            name="Create RV Match Build Configuration"
            categoryId="com.runtimeverification.match.commands.category"
            id="com.runtimeverification.match.commands.selectBuildCommand">
      </command>
       <command
            name="Clear RV Match from Problems View"
            categoryId="com.runtimeverification.match.commands.category"
            id="com.runtimeverification.match.commands.clearMarkersCommand">
      </command>
      <command
            name="Run Current Run Configuration with RV Match"
            id="com.runtimeverification.match.commands.RVLauncher"
            categoryId="com.runtimeverification.match.commands.category">
      </command>  
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <!--
      <handler
            commandId="com.runtimeverification.match.commands.kServerCommand"
            class="com.runtimeverification.match.handlers.KServerHandler">
      </handler>
      -->
      <handler
            commandId="com.runtimeverification.match.commands.RVLauncher"
            class="com.runtimeverification.match.handlers.RVLauncherHandler">
      </handler>
      <handler
            commandId="com.runtimeverification.match.commands.selectBuildCommand"
            class="com.runtimeverification.match.handlers.SelectBuildHandler">
      </handler>
      <handler
            commandId="com.runtimeverification.match.commands.clearMarkersCommand"
            class="com.runtimeverification.match.handlers.ClearMarkersHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="RV Match"
               mnemonic="M"
               id="com.runtimeverification.match.menus.rvMatchMenu">
               <!--
            <command
                  commandId="com.runtimeverification.match.commands.kServerCommand"
                  mnemonic="S"
                  style="toggle"
                  id="com.runtimeverification.match.menus.kServerCommand">
            </command>
            -->
            <command
                  commandId="com.runtimeverification.match.commands.RVLauncher"
                  mnemonic="R"
                  id="com.runtimeverification.match.menus.RVLauncherCommand">
            </command>
            <command
                  commandId="com.runtimeverification.match.commands.clearMarkersCommand"
                  mnemonic="S"
                  id="com.runtimeverification.match.menus.clearMarkersCommand">
            </command>
            <command
                  commandId="com.runtimeverification.match.commands.selectBuildCommand"
                  mnemonic="S"
                  id="com.runtimeverification.match.menus.selectBuildCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.debug.ui.launchActionSet">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.launchActionSet">
         <command
               commandId="com.runtimeverification.match.commands.RVLauncher"
               tooltip="Build and launch current project using RV Match"
               icon="icons/RV-icon.png"
               id="com.runtimeverification.match.toolbars.RVLauncherCommand">
         </command>
                  <!-- style="pulldown" -->
      </menuContribution>
   </extension>

   <extension-point id="com.runtimeverification.match.rvMatchToolViews" name="RV Match Tool" schema="schema/rvMatchToolViews.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.runtimeverification.match.ui"
            class="org.eclipse.linuxtools.valgrind.ui.ValgrindViewPart"
            icon="icons/RV-icon.png"
            id="com.runtimeverification.match.rvmatchview"
            name="RV Match Error Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.runtimeverification.match.rvmatchview">
         <separator
               name="toolbarLocal"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.runtimeverification.match.rvmatchview?after=toolbarLocal">
         <separator
               name="toolbarExtensions"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   <extension
         id="com.runtimeverification.match.marker"
         name="RV Match Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute name="externalLocation"/>
   </extension>   
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerSeverity="2"
             markerType="com.runtimeverification.match.marker"
             name="com.runtimeverification.match.annotation.error"
             super="org.eclipse.ui.workbench.texteditor.error">
       </type>
       <type
             markerSeverity="1"
             markerType="com.runtimeverification.match.marker"
             name="com.runtimeverification.match.annotation.warning"
             super="org.eclipse.ui.workbench.texteditor.warning">
       </type>
       <type
             markerSeverity="0"
             markerType="com.runtimeverification.match.marker"
             name="com.runtimeverification.match.annotation.info"
             super="org.eclipse.ui.workbench.texteditor.info">
       </type>
    </extension>
      <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
              annotationType="com.runtimeverification.match.annotation.error"
            label="RV Match Errors"
            icon="icons/RV-error.png"
            quickFixIcon="icons/RV-error.png"
            presentationLayer="6">
      </specification>
            <specification
              annotationType="com.runtimeverification.match.annotation.warning"
            label="RV Match Warnings"
            icon="icons/RV-warning.png"
            quickFixIcon="icons/RV-warning.png"
            presentationLayer="5">
      </specification>
      <specification
              annotationType="com.runtimeverification.match.annotation.info"
            label="RV Match Info"
            icon="icons/RV-info.png"
            presentationLayer="4">
      </specification>
         </extension>
<!--   
   <extension
        point="org.eclipse.ui.ide.markerResolution">
     <markerResolutionGenerator
           class="org.eclipse.linuxtools.internal.valgrind.ui.quickfixes.ValgrindResolutionGenerator"
           markerType="com.runtimeverification.match.marker">
     </markerResolutionGenerator>
  </extension>
  -->
   
</plugin>
